<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="uil uil-user"></i>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In" routerLink="/">
        </form>
        <!-- register  -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/register">Register?</a>

        </div>
        <!-- Remind Password -->

        <div id="formFooter">
            <a class="underlineHover" routerLink="/admin/login">Login admin?</a>
        </div>

    </div>
</div>