<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="uil uil-user"></i>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="register" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="register" placeholder="password">
            <input type="text" id="password-repeat" class="fadeIn third" name="register" placeholder="password repeat">
            <input type="submit" class="fadeIn fourth" value="Register">
        </form>
        <!-- register  -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/login">Back to login?</a>
        </div>
        <!-- Remind Password -->

    </div>
</div>